@CHARSET "UTF-8";

/*afeta apenas a view*/
.pagina {
	
	border: 1px solid #777;
	width: 210mm;
    min-height: 297mm;
    margin: 0 auto;
    padding-top: 35px;
    padding-left: 90px;
    padding-right: 80px;
    padding-bottom: 30px;
    
    -webkit-box-shadow: 7px 7px 10px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    7px 7px 10px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         7px 7px 10px 0px rgba(50, 50, 50, 0.5);
	/*overflow: auto;*/
	
}

/*daqui para baixo afeta o pdf */

#t1 {
	text-align: left;
}

#t2 {
	text-align: center;
}

#t3 {
	text-align: right;
}

#t4 {
	text-align: justify;
}

.conteudo {
	vertical-align: bottom;
	font-family: "Times New Roman", Times, serif;
	font-size: 15px;
	text-align: justify;
	line-height: 175%;
	font-weight: normal;
}

.data {
	text-align: right;
}

.destinatario {
	text-align: left;
	line-height: 150%;
}

.redacao p {
	text-align: justify;
	line-height: 150%;
	font-family: \'Times New Roman\', Times, serif;
	font-size: 15px;
}

.remetente,.remetente p {
	text-align: center;
	line-height: 150%;
	font-size: 15px;
}

.cabecalho {
	font-family: \'Times New Roman\', Times, serif;
	font-size: 13px;
	color: black;
	line-height: 125%;
	padding: 5px;
}

.ceara {
	font-family: \'Times New Roman\', Times, serif;
	font-size: 17px;
	color: black;
	font-weight: bold;
}

.despacho_head {
	width: 100%;
	overflow: hidden;
	border-collapse: collapse;
	border-spacing: 0;
}

.despacho_head td {
	border: solid 1px black;
	width: 50%;
}

.conteudo table {
	border-width: 1px;
	border-spacing: 0px !important;
	border-collapse: collapse;
	border-style: solid;
	border-color: #000;
}

.conteudo table td,.conteudo table th {
	margin: 0;
	padding: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: #000;
}